<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav><a href="/fruits/new"></a></nav>
    <h1>Fruits index page</h1>
    <ul>
        <% for(let fruit of allFruits){ %> 
            <li>
                <a href="/fruits/<%=fruit.id %>">
                    <%= fruit.name %> 
                </a>
            </li>
         <% } %> 
    </ul>
    
</body>
</html>