<!-- For footer -->
<br />
<footer class="text-center text-white-50">
    <p><img class="mb-1 mx-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/512px-Pok%C3%A9_Ball_icon.svg.png" alt="" width="20" height="20">JC Co.</a>, by <a href="/" class="text-white">@ Johnny </a>.</p>
</footer>