<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand mx-3" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

        <!-- each item in the navbar -->
        <div class="navbar-nav mx-5">
            <a class="nav-link mx-3" href="/" role="button">Home</a>
            <!-- <a class="nav-link mx-3" href="/Favorites" role="button">Favorites</a> -->
            <a class="nav-link mx-3" href="/new/pokemon" role="button">Make Your Own</a>
        </div>
    </div>
    </div>
</nav>
<br />