
<!-- For footer -->
<footer class="mt-auto text-white-50">
    <p><img class="mb-1 mx-2" src="https://images-workbench.99static.com/lDXI3EB287NwkH0AHBJ6sckzKZw=/http://s3.amazonaws.com/projects-files/56/5672/567261/e0ceaeff-4944-4a7a-b275-28009b651985.jpg" alt="" width="20" height="20">JT Co.</a>, by <a href="https://twitter.com/mdo" class="text-white">@ Taylor && Johnny</a>.</p>
</footer>