/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


/* body {
    background-color: black; */
/* } */


#pokemonCard:hover {
    transform: scale(1.1);
}

.toBeHovered:hover {
    opacity: .5;
}

#pokemonContainer input:hover{
    transform: scale(1.05);
}